@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 100px;
	font-family: Roboto;
	text-align: center;
}
#map{
	height: 650px;
	width: 650px;
	margin: 0 auto;
}
.commonControlStyle{
	font-family: Roboto;
	font-size: 15px;
	padding: 5px;
}
#cmbPlaceType{
	margin-bottom: 20px;
}
#searchRadius{
	width: 90px;
}