@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 100px;
}
#map{
	height: 650px;
	width: 650px;
}
#cmbPlaceType{
	padding: 5px;
	font-family: Roboto;
	margin-bottom: 20px;
}